
.idea/CS361Project.iml
.idea/misc.xml
CS361Project/__pycache__/__init__.cpython-310.pyc
CS361Project/__pycache__/__init__.cpython-38.pyc
CS361Project/__pycache__/settings.cpython-310.pyc
CS361Project/__pycache__/settings.cpython-38.pyc
CS361Project/__pycache__/urls.cpython-310.pyc
CS361Project/__pycache__/urls.cpython-38.pyc
CS361Project/__pycache__/wsgi.cpython-310.pyc
CS361Project/__pycache__/wsgi.cpython-38.pyc
db.sqlite3
TAScheduler/__pycache__/__init__.cpython-310.pyc
TAScheduler/__pycache__/__init__.cpython-38.pyc
TAScheduler/__pycache__/admin.cpython-310.pyc
TAScheduler/__pycache__/admin.cpython-38.pyc
TAScheduler/__pycache__/apps.cpython-310.pyc
*.pyc
.idea/CS361Project.iml
.idea/misc.xml
.idea/CS361Project.iml
.idea/misc.xml
db.sqlite3
db.sqlite3
*.pyc
db.sqlite3
.idea/CS361Project.iml
TAScheduler/migrations/0005_userprofile_email.py
TAScheduler/migrations/0004_remove_userprofile_email.py
TAScheduler/migrations/0003_auto_20211213_0025.py
TAScheduler/Managment/__pycache__/UserManagement.cpython-38.pyc
TAScheduler/Managment/__pycache__/UserManagement.cpython-310.pyc
TAScheduler/__pycache__/views.cpython-38.pyc
TAScheduler/__pycache__/models.cpython-38.pyc
db.sqlite3
CS361Project/__pycache__/urls.cpython-38.pyc
CS361Project/__pycache__/settings.cpython-38.pyc
.idea/CS361Project.iml
*.pyc
*.sqlite3
*.sqlite3
*.pyc
*.pyc
*.sqlite3
*.sqlite3
*.pyc
