<!DOCTYPE html>
<html lang="en">

<head>
    <title> DashBoard</title>
    {% load static %}
    <link rel="stylesheet" href ="{% static 'styles.css'%}">

    <meta charset="UTF-8">
</head>

<body>
  <nav>
    <div class = "nav-center">
    <h4>Dashboard</h4>
      <ul class="nav-links">
        <li><a href="../createuser/">Create User</a></li>
        <li><a href="../createcourse/">Create Course</a></li>
      </ul>
    </div>
  </nav>
   <main>
      <div class="container">
        <h2>Dashboard: <span class="color">Welcome to TA Scheduler</span></h2>
      </div>
    </main>
</body>
</html>