<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
    <head>
        <style>
            h4 {
                text-align: center;
            }
        </style>
        <title>View Labs</title>
        {% load static %}
        <link rel="stylesheet" href="{% static 'styles.css' %}">
        <meta charset="UTF-8">
    </head>

    <body>
        <nav>
            <div class="nav-center">
                <h4>View Labs</h4>
                <ul class="nav-links">
                    <li><a href="/create_lab/">Create</a></li>
                    <li><a href="/edit_lab/">Edit</a></li>
                    <li><a href="/delete_lab/">Delete</a></li>
                    <li><a href="/account_settings/">Account</a></li>
                    <li><a href="/home/">Dashboard</a></li>
                    <li><a href="/">Log Out</a></li>
                </ul>
            </div>
        </nav>

        <main>
            <div class="container">
                {% csrf_token %}
                {% for lab in lab_list %}
                    <b>{{ lab.course.name }}: {{ lab.name }}</b>
                    <table border>
                        <tr>
                            <th STYLE="padding:5px 10px;">ID</th>
                            <th STYLE="padding:5px 10px;">Name</th>
                            <th STYLE="padding:5px 10px;">Location</th>
                            <th STYLE="padding:5px 10px;">Hours</th>
                            <th STYLE="padding:5px 10px;">Days</th>
                            <th STYLE="padding:5px 10px;">Course</th>
                            <th STYLE="padding:5px 10px;">TA</th>
                        </tr>
                        <tr>
                            <td STYLE="padding:5px 10px;">{{ lab.labID }}</td>
                            <td STYLE="padding:5px 10px;">{{ lab.name }}</td>
                            <td STYLE="padding:5px 10px;">{{ lab.location }}</td>
                            <td STYLE="padding:5px 10px;">{{ lab.hours }}</td>
                            <td STYLE="padding:5px 10px;">{{ lab.days }}</td>
                            <td STYLE="padding:5px 10px;">{{ lab.course }}</td>
                            <td STYLE="padding:5px 10px;">{{ lab.TA }}</td>
                        </tr>
                    </table>
                    <br>
                {% endfor %}
            </div>
        </main>
    </body>
</html>
